*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  width: 85%;
  margin: auto;
  padding-top: 50px;
}

.pista{
  width: 100%;
  border-radius: 10px;
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}

.pista-contenido{
  padding: 50px;
}

.pista p{
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: #000;
  color: #fff;
  border-radius: 10px 50% 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pista h1{
  font-size: 25px;
}

.pista h2{
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
}

.censored {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
  /* O */
  filter: blur(5px); /* Efecto de desenfoque */
}

#pista-uno{
  background: linear-gradient(135deg, #D7DA3F, rgb(253, 253, 56));
}

#pista-dos{
  background: linear-gradient(135deg, #0369C2, #20ACE4);
}

#pista-tres{
  background: linear-gradient(135deg, #F2393D, #F97931);
}

#pista-cuatro{
  background: linear-gradient(135deg, #4DBE46, #089F78);
}

.form select, .form input{
  display: block;
  margin-bottom: 10px;
  width: 150px;
}

.form{
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input{
  margin-top: 10px;
}